<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 https://osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd">


    <bean id="helloImpl" class="com.osgi.impl.HelloImpl"
          init-method="startup"/>
    <service id="helloService" interface="com.osgi.inter.Hello" ref="helloImpl"/>


</blueprint>
